.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  max-height: 150px;
  /* padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}

.stickRight {
  position: absolute;
  right: 0;
  top: 0;
}

.centerAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coverFullHeight {
  min-height: 100vh;
}

.elevation {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
              0 2px 4px 0 rgba(0,0,0,0.08);
}

.elevation-inverse {
  box-shadow: inset 0 2px 4px 3px rgba(0,0,0,0.06);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}


@media screen and (min-width: 800px) {
  .column {
    flex: 1
  }

  .double-column {
    flex: 2
  }
}

.scrolling-wrapper {
  padding: 10;
  min-width: 100%;
  min-height: 400px;
  display: flex;
  overflow-x: auto;
  flex-direction: row-reverse;
}

.columnDirection {
  flex-direction: column;
}

.scrolling-wrapper--div {
  min-width: 350px;
  margin: 5px;
}

.responsive {
  flex-wrap: "wrap"
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
